### 数据库

In [3]:
import sys
import re
from pyhive import hive
import pandas as pd
import seaborn as sns
import numpy as np
from datetime import datetime, timedelta
import scipy.stats as stats
from sklearn.preprocessing import KBinsDiscretizer
import requests
import json
import time
from graphframes import *

from matplotlib import pyplot as plt

from DBoperation import *

from matplotlib.font_manager import FontProperties
font = FontProperties(fname=r"/data/datamining/envir/SimHei.ttf", size=30) #中文字体


pd.set_option('display.max_columns', None) #显示所有列
sys.path.append('/data/datamining/Py_functions/get_data')
from get_data_func import * ##取数function  


mysql_engine = create_engine('mysql+pymysql://barview:barview@10.106.10.17:13306/my_bar_patrol')

myanacon = create_engine(
    'hive://sz210428470@10.106.20.15:10000/myana',
    connect_args={'configuration': {'hive.exec.reducers.max': '123'},'password':'xsj123!','auth':'CUSTOM'},
)


mydwcon = create_engine(
    'hive://hive@10.106.56.41:10000/my_dw',
    connect_args={'configuration': {'hive.exec.reducers.max': '123'},'auth':'NONE'},
)

mysacon = create_engine(
    'hive://sz210428470@10.106.20.15:10000/mysa',
    connect_args={'configuration': {'hive.exec.reducers.max': '123'},'password':'xsj123!','auth':'CUSTOM'},
)

# 基础表

In [9]:
 #星环链接形式
hiveConn = hive.Connection(host='10.106.20.15', port=10000, username='szchenye', password='szcy230#',
                                   database='mydw', auth='CUSTOM')
def str_to_list(x):
        '''辅助方程：字符串转列表'''
        data_list = x["funitnames"].replace("第","").replace("单元","").split(";")
        return data_list[0:-1]

def get_database():
    '''得到基础表'''
    
    #批次信息和中文信息表合并
    database_sql = '''SELECT a.*, b.fsegmentid, b.ffeeder_name, b.ffeeder_code, b.funitnames FROM (SELECT ffieldid,fareaid,fregionname,ffield,ffieldtypename FROM myana.datamining_DIM_AF) a 
    RIGHT JOIN (SELECT DISTINCT fsegmentid, ffieldid, fareaid, ffeeder_name, ffeeder_code, funitnames FROM myana.datamining_DWD_BI) b
    ON a.ffieldid = b.ffieldid AND a.fareaid = b.fareaid
    '''
    database = pd.read_sql(database_sql, hiveConn)

    #将funitnames 转化成单一数字字符，代表单元号
    database['funitnames'] = database.apply(lambda x: str_to_list(x), axis=1)
    database = database.reindex(
        database.index.repeat(database.funitnames.str.len())).assign(
        funitnames=np.concatenate(database.funitnames.values))
    
    #筛选条件：1. 生长场：出现后备段统一归在育肥；2.繁殖场有保育情况剔除
    database.loc[database.ffieldtypename == '生长场', 'fsegmentid'] = 13907
    database = database.drop(database.loc[(database.ffieldtypename == '繁殖场') & (database.fsegmentid == 13906)].index, axis = 0)
    
    database2 = database.copy() #拷贝
    #新增一个字段便于后面的匹配，字段包括场区ID， 区域ID， 工段ID 和单元号
    database2['unit_link_id'] = database2.fareaid.astype(str) + '|' +  database2.ffieldid.astype(str) + '|' + database2.fsegmentid.astype(str) + '|' + database2.funitnames.astype(str)
    
    database['unit_link_id'] = database2.unit_link_id
    #输出
    return database

In [11]:
get_database()

,ffieldid,fareaid,fregionname,ffield,ffieldtypename,fsegmentid,ffeeder_name,ffeeder_code,funitnames,unit_link_id
0,15332705.0,15332499.0,黑龙江,林甸1场繁殖场,繁殖场,13905,田艳华,200216245,3,15332499.0|15332705.0|13905|3
0,15332705.0,15332499.0,黑龙江,林甸1场繁殖场,繁殖场,13905,田艳华,200216245,4,15332499.0|15332705.0|13905|4
1,15358566.0,15335620.0,豫北,范县8场,生长场,13907,吴延斌,200601247,31,15335620.0|15358566.0|13907|31
1,15358566.0,15335620.0,豫北,范县8场,生长场,13907,吴延斌,200601247,32,15335620.0|15358566.0|13907|32
2,15483864.0,15483860.0,南阳,育种（内乡）28场繁殖场,繁殖场,13905,翟中旭,210370896,17,15483860.0|15483864.0|13905|17
...,...,...,...,...,...,...,...,...,...,...
459512,15389682.0,15166090.0,豫北,杞县17场繁殖场2区,繁殖场,13910,杨红莉,200407949,21,15166090.0|15389682.0|13910|21
459513,15383282.0,15383276.0,京津冀,辛集1场,繁殖场,13910,刘杰,201232293,15,15383276.0|15383282.0|13910|15
459514,15323846.0,15165877.0,豫北,通许7场,生长场,13907,罗瑞,170502856,34,15165877.0|15323846.0|13907|34
459514,15323846.0,15165877.0,豫北,通许7场,生长场,13907,罗瑞,170502856,35,15165877.0|15323846.0|13907|35
459514,15323846.0,15165877.0,豫北,通许7场,生长场,13907,罗瑞,170502856,36,15165877.0|15323846.0|13907|36

In [88]:
a = get_database()
a.columns

Index(['ffieldid', 'fareaid', 'fregionname', 'ffield', 'ffieldtypename',
       'fsegmentid', 'ffeeder_name', 'ffeeder_code', 'funitnames',
       'unit_link_id'],
      dtype='object')

# 获取批次信息
批次信息表+中文, 这个表将会是基础表格. 筛选条件：1. 生长场：出现后备段统一归在育肥；2.繁殖场有保育情况剔除

In [84]:
def get_batch_info():
    '''输出以批次号为单位的信息表'''
    #批次信息和中文信息表合并
    batch_info_sql = '''SELECT b.fbatchno, a.*, b.fsegmentid, b.ffeeder_name, b.ffeeder_code, b.funitnames  FROM (SELECT ffieldid,fareaid,fregionname,ffield,ffieldtypename FROM myana.datamining_DIM_AF) a 
    RIGHT JOIN myana.datamining_DWD_BI b
    ON a.ffieldid = b.ffieldid'''

    batch_info = pd.read_sql(batch_info_sql, hiveConn )

    #将funitnames 转化成单一数字字符，代表单元号
    batch_info['funitnames'] = batch_info.apply(lambda x: str_to_list(x), axis=1)
    batch_info = batch_info.reindex(
        batch_info.index.repeat(batch_info.funitnames.str.len())).assign(
        funitnames=np.concatenate(batch_info.funitnames.values))

    #筛选条件：1. 生长场：出现后备段统一归在育肥；2.繁殖场有保育情况剔除

    batch_info.loc[batch_info.ffieldtypename == '生长场', 'fsegmentid'] = 13907
    batch_info = batch_info.drop(batch_info.loc[(batch_info.ffieldtypename == '繁殖场') & (batch_info.fsegmentid == 13906)].index, axis = 0)

    #可以新增一个字段便于后面的匹配，字段包括场区ID， 区域ID， 工段ID 和单元号
    batch_info['unit_link_id'] = batch_info.fareaid.astype(str) + '|' +  batch_info.ffieldid.astype(str) + '|' + batch_info.fsegmentid.astype(str) + '|' + batch_info.funitnames.astype(str)

    #重置序号
    batch_info = batch_info.reset_index(drop = True) #drop参数会取代原来的index 
    
    return batch_info 

batch_info = get_batch_info()

In [85]:
batch_info

,fbatchno,ffieldid,fareaid,fregionname,ffield,ffieldtypename,fsegmentid,ffeeder_name,ffeeder_code,funitnames,unit_link_id
0,TL970402177458200330,15335654.0,15313375.0,辽宁,铁岭3场,生长场,13907,王江,190204455,15,15313375.0|15335654.0|13907|15
1,NX0606030080130618,900.0,13903.0,南阳,内乡6场,繁殖场,13910,李进,None,14,13903.0|900.0|13910|14
2,NX0606120035181115,900.0,13903.0,南阳,内乡6场,繁殖场,13910,徐三根,06070030,33,13903.0|900.0|13910|33
3,ZY080136189336191024,15169315.0,15166430.0,豫东南,正阳1场,繁殖场,13905,童玉全,190904425,18,15166430.0|15169315.0|13905|18
4,NX0606102396150526,900.0,13903.0,南阳,内乡6场,繁殖场,13910,樊园园,15010021,6,13903.0|900.0|13910|6
...,...,...,...,...,...,...,...,...,...,...,...
1156233,ZY190236168637210804,15317054.0,15166430.0,豫东南,正阳4场2区,生长场,13907,尹春香,180310041,4,15166430.0|15317054.0|13907|4
1156234,ZY190236168637210804,15317054.0,15166430.0,豫东南,正阳4场2区,生长场,13907,尹春香,180310041,5,15166430.0|15317054.0|13907|5
1156235,FG610602245908210805,15166930.0,15116388.0,豫东,扶沟1场,繁殖场,13910,王利红,200917705,21,15116388.0|15166930.0|13910|21
1156236,FG610602245908210805,15166930.0,15116388.0,豫东,扶沟1场,繁殖场,13910,王利红,200917705,22,15116388.0|15166930.0|13910|22
1156237,FG525718804044315210821004,15257188.0,15116388.0,豫东,扶沟14场,繁殖场,13908,常亚林,200602332,4,15116388.0|15257188.0|13908|4

# 获取送检信息表
送检表和批次信息表按照批次号和单元号进行匹配，得到相应的unit_link_id

In [88]:
sj_info_sql = '''
SELECT batch_no, unit, pcr_result, pcrdl_result, date_format(sampling_time, 'yyyy-MM-dd') AS sample_time FROM myana.datamining_DWS_DS_antigen_UD
'''
sj_info = pd.read_sql(sj_info_sql,hiveConn)

#送检表和上面批次信息表格根据批次号匹配，得到相应的unit_link_id 
sj_info = sj_info.merge(batch_info.loc[:, ['fbatchno','funitnames', 'unit_link_id']], how = 'left', left_on = ['batch_no', 'unit'], right_on = ['fbatchno', 'funitnames'])
sj_info

,batch_no,unit,pcr_result,pcrdl_result,sample_time,fbatchno,funitnames,unit_link_id
0,WL7503366655181012,17,"[""肺支原体"",""副猪嗜血杆菌""]",None,2018-10-26,WL7503366655181012,17,13904.0|15168506.0|13907|17
1,PY570536210490200913,26,"[""猪流行性腹泻""]",None,2021-01-23,PY570536210490200913,26,15338563.0|15338569.0|13909|26
2,SS890102182771210704,18,"[""轮状病毒"",""梭菌""]",None,None,SS890102182771210704,18,15173773.0|15326833.0|13905|18
3,DA210302225156200606,1,"[""巴氏杆菌""]",None,2020-07-14,DA210302225156200606,1,15352713.0|15352715.0|13907|1
4,ZY700106177330200209,15,"[""圆环3""]",None,2020-02-17,ZY700106177330200209,15,15166430.0|15291253.0|13905|15
...,...,...,...,...,...,...,...,...
251513,YZNX0000136307226210510,23,None,"[""梭菌""]",None,YZNX0000136307226210510,23,15483860.0|15483864.0|13905|23
251514,JT0000236274673210529,3,None,"[""副猪嗜血杆菌""]",None,JT0000236274673210529,3,15410855.0|15410857.0|13907|3
251515,XJ110336177241200129,9,None,"[""A""]",2020-05-13,XJ110336177241200129,9,15281045.0|15350638.0|13907|9
251516,TH190217246091201210,31,None,"[""A""]",2021-02-16,TH190217246091201210,31,5115041.0|5115051.0|13907|31
251517,NA0000236184823210115,5,None,"[""流行性腹泻""]",2021-01-27,NA0000236184823210115,5,15314533.0|15424903.0|13907|5

# 字段：该单元历史检出阳性总次数（或天数，同一天算一次）

### 汇总方程

In [86]:
def get_asf_count(database):
    '''计算历史单元阳性总次数'''
    #送检信息
    sj_info_sql = '''
    SELECT batch_no, unit, pcr_result, pcrdl_result, date_format(sampling_time, 'yyyy-MM-dd') AS sample_time FROM myana.datamining_DWS_DS_antigen_UD
    '''
    sj_info = pd.read_sql(sj_info_sql,hiveConn)

    #送检表和上面批次信息表格根据批次号匹配，得到相应的unit_link_id 
    sj_info = sj_info.merge(batch_info.loc[:, ['fbatchno','funitnames', 'unit_link_id']], how = 'left', left_on = ['batch_no', 'unit'], right_on = ['fbatchno', 'funitnames'])
   
    # 非洲猪瘟阳性表格（2018至今），positive_num表示计算好阳性的总天数
    asf_data_sql = '''SELECT batch_no, unit, pcr_result, pcrdl_result, date_format(sampling_time, 'yyyy-MM-dd') AS sample_time 
    FROM myana.datamining_DWS_DS_antigen_UD 
    WHERE (concat_ws(',',pcrdl_result) LIKE '%A%' OR concat_ws(',',pcr_result) LIKE '%A%') and `sampling_time`>='2018-10-01'
    '''
    asf_data = pd.read_sql(asf_data_sql, hiveConn)
    #获得单独unit_link_id
    asf_data = asf_data.merge(batch_info.loc[:, ['fbatchno','funitnames', 'unit_link_id']], how = 'left', left_on = ['batch_no', 'unit'], right_on = ['fbatchno', 'funitnames']) 
    
    #计算每个单元的历史阳性次数，注意同一天算一次
    unit_id_list = list(asf_data.unit_link_id.dropna().unique())

    #建立新的dataframe 
    asf_count = pd.DataFrame(unit_id_list, columns = ['unit_link_id'])

    for unit_id in unit_id_list: 
        #计算天数
        num = asf_data.loc[asf_data.unit_link_id == unit_id].sample_time.unique().shape[0]
        #更新df
        asf_count.loc[asf_count.unit_link_id == unit_id, 'asf_total'] = num 
        
    # 合并到基础表格中 （按照unit_link_id)
    database = database.merge(asf_count, how = 'left', on = 'unit_link_id')
    
    return database

In [87]:
get_asf_count(get_database())

,ffieldid,fareaid,fregionname,ffield,ffieldtypename,fsegmentid,ffeeder_name,ffeeder_code,funitnames,unit_link_id,asf_total
0,15325818.0,15173725.0,豫东,太康18场,生长场,13907,贾广志,180303320,11,15173725.0|15325818.0|13907|11,4.0
1,15325818.0,15173725.0,豫东,太康18场,生长场,13907,贾广志,180303320,12,15173725.0|15325818.0|13907|12,5.0
2,2512.0,13904.0,南阳,卧龙2场生长场,生长场,13907,刘方,190602362,11,13904.0|2512.0|13907|11,NaN
3,913.0,13903.0,南阳,内乡19场,繁殖场,13905,岳石红,07040157,25,13903.0|913.0|13905|25,NaN
4,15384657.0,15337835.0,豫东南,西平1场繁殖场,繁殖场,13905,张付英,200610507,8,15337835.0|15384657.0|13905|8,NaN
...,...,...,...,...,...,...,...,...,...,...,...
889352,15169238.0,13902.0,南阳,邓州9场,繁殖场,13908,张鑫,200514277,30,13902.0|15169238.0|13908|30,NaN
889353,15169238.0,13902.0,南阳,邓州9场,繁殖场,13908,张鑫,200514277,31,13902.0|15169238.0|13908|31,NaN
889354,15169210.0,15166090.0,豫北,杞县1场,繁殖场,13910,曹瑞利,16091378,32,15166090.0|15169210.0|13910|32,NaN
889355,15169210.0,15166090.0,豫北,杞县1场,繁殖场,13910,曹瑞利,16091378,33,15166090.0|15169210.0|13910|33,NaN
889356,15169210.0,15166090.0,豫北,杞县1场,繁殖场,13910,曹瑞利,16091378,34,15166090.0|15169210.0|13910|34,NaN

#### 分段

In [156]:
# 非洲猪瘟阳性表格（2018至今），positive_num表示计算好阳性的总天数
asf_data_sql = '''SELECT batch_no, unit, pcr_result, pcrdl_result, date_format(sampling_time, 'yyyy-MM-dd') AS sample_time 
FROM myana.datamining_DWS_DS_antigen_UD 
WHERE (concat_ws(',',pcrdl_result) LIKE '%A%' OR concat_ws(',',pcr_result) LIKE '%A%') and `sampling_time`>='2018-10-01'
'''
asf_data = pd.read_sql(asf_data_sql, hiveConn)
#获得单独unit_link_id
asf_data = asf_data.merge(batch_info.loc[:, ['fbatchno','funitnames', 'unit_link_id']], how = 'left', left_on = ['batch_no', 'unit'], right_on = ['fbatchno', 'funitnames']) 
asf_data

,batch_no,unit,pcr_result,pcrdl_result,sample_time,fbatchno,funitnames,unit_link_id
0,LHK250336291723210401,14,"[""A""]","[""A""]",2021-05-06,LHK250336291723210401,14,15318088.0|15318090.0|13907|14
1,LHK260302188421201104,75,"[""A""]","[""A""]",2020-12-12,NaN,NaN,NaN
2,LHK980127255112210119,27,"[""A""]","[""A""]",2021-03-09,LHK980127255112210119,27,15318088.0|15327461.0|13905|27
3,DL0000302259245210713,26,"[""副猪嗜血杆菌"",""巴氏杆菌""]","[""A"",""蓝耳"",""圆环2"",""副猪嗜血杆菌""]",None,DL0000302259245210713,26,15176674.0|15409079.0|13907|26
4,LHK980601256525210202,32,"[""A""]",None,2021-03-20,LHK980601256525210202,32,15318088.0|15327461.0|13910|32
...,...,...,...,...,...,...,...,...
38330,MC620305182416191019,32,None,"[""A""]",2020-01-10,MC620305182416191019,32,15331979.0|15369582.0|13907|32
38331,LHK030336217180210103,15,None,"[""A""]",2021-03-18,LHK030336217180210103,15,15318088.0|15328176.0|13907|15
38332,XH00003020929210222,35,None,"[""A""]",2021-03-05,XH00003020929210222,35,15168957.0|15452872.0|13907|35
38333,XJ110336177241200129,9,None,"[""A""]",2020-05-13,XJ110336177241200129,9,15281045.0|15350638.0|13907|9
38334,TH190217246091201210,31,None,"[""A""]",2021-02-16,TH190217246091201210,31,5115041.0|5115051.0|13907|31

In [162]:
#计算每个单元的历史阳性次数，注意同一天算一次
unit_id_list = list(asf_data.unit_link_id.dropna().unique())

#建立新的dataframe 
asf_count = pd.DataFrame(unit_id_list, columns = ['unit_link_id'])

for unit_id in unit_id_list: 
    #计算天数
    num = asf_data.loc[asf_data.unit_link_id == unit_id].sample_time.unique().shape[0]
    #更新df
    asf_count.loc[asf_count.unit_link_id == unit_id, 'asf_total'] = num 
asf_count

                         unit_link_id  asf_total
0      15318088.0|15318090.0|13907|14        5.0
1      15318088.0|15327461.0|13905|27        3.0
2      15176674.0|15409079.0|13907|26        1.0
3      15318088.0|15327461.0|13910|32        9.0
4      15166430.0|15169315.0|13909|11        6.0
...                               ...        ...
12170   15333196.0|15333197.0|13909|7        1.0
12171  15338653.0|15386138.0|13907|21        1.0
12172  15116388.0|15258714.0|13909|39        1.0
12173  15166935.0|15316569.0|13907|46        1.0
12174  15426347.0|15434442.0|13908|12        1.0

[12175 rows x 2 columns]

In [163]:
# 合并到基础表格中 （按照unit_link_id)
data = get_database()
data = data.merge(asf_count, how = 'left', on = 'unit_link_id')
data

,ffieldid,fareaid,fregionname,ffield,ffieldtypename,fsegmentid,ffeeder_name,ffeeder_code,funitnames,unit_link_id,asf_total
0,15374998.0,15374996.0,江苏,新沂1场,繁殖场,13907,李作旭,200219594,32,15374996.0|15374998.0|13907|32,NaN
1,15411064.0,15335137.0,豫东,鹿邑9场1区,生长场,13906,夏秋霞,201132975,5,15335137.0|15411064.0|13906|5,NaN
2,15411064.0,15335137.0,豫东,鹿邑9场1区,生长场,13906,夏秋霞,201132975,6,15335137.0|15411064.0|13906|6,NaN
3,15411064.0,15335137.0,豫东,鹿邑9场1区,生长场,13906,夏秋霞,201132975,,15335137.0|15411064.0|13906|,NaN
4,32865.0,13904.0,南阳,卧龙2场繁殖场1区,繁殖场,13905,吴小静,170801872,42,13904.0|32865.0|13905|42,NaN
...,...,...,...,...,...,...,...,...,...,...,...
890474,15335362.0,15210204.0,内蒙古,奈曼3场2区,繁殖场,13907,佟照那斯图,171204626,,15210204.0|15335362.0|13907|,NaN
890475,15414071.0,15173773.0,豫东,商水13场繁殖场,繁殖场,13907,王利份,210428255,5,15173773.0|15414071.0|13907|5,NaN
890476,15414071.0,15173773.0,豫东,商水13场繁殖场,繁殖场,13907,王利份,210428255,6,15173773.0|15414071.0|13907|6,NaN
890477,15425307.0,15392731.0,山东,邹平1场生长场4区,生长场,13906,邢斐,201124007,87,15392731.0|15425307.0|13906|87,NaN
890478,15425307.0,15392731.0,山东,邹平1场生长场4区,生长场,13906,邢斐,201124007,88,15392731.0|15425307.0|13906|88,NaN

# 字段：历史阳性检测比率
历史阳性检测比率
（三轮非瘟检测比例）

#### 汇总方程

In [89]:
def get_asf_rate(database): 
    '''计算三轮非瘟比例'''
    # 每一轮检测的函数
    def asf_annal_round(starttime, endtime):
        '''输入起始时间和末尾时间
            输出每一轮的非洲猪瘟的检测结果。0 表示有送检未检出阳性，1表示有送检并且检出阳性
        '''
        #每一轮的送检表格
        antigen_sql = '''select * from myana.datamining_DWS_DS_antigen_UD where `sampling_time`>='{start}' and `sampling_time`<='{end}' '''
        antigen_sql = antigen_sql.format(start = starttime, end = endtime)
        antigen = pd.read_sql(antigen_sql, hiveConn)

        #每一轮的阳性检测表格
        asf_sql = '''select * from myana.datamining_DWS_DS_antigen_UD where `sampling_time`>='{start}' and `sampling_time`<='{end}' and (concat_ws(',',pcrdl_result) LIKE '%A%' OR concat_ws(',',pcr_result) LIKE '%A%') '''
        asf_sql = asf_sql.format(start = starttime, end = endtime)
        asf = pd.read_sql(asf_sql, hiveConn)


        #获得单独unit_link_id
        antigen = antigen.merge(batch_info.loc[:, ['fbatchno','funitnames', 'unit_link_id']], how = 'left', left_on = ['batch_no', 'unit'], right_on = ['fbatchno', 'funitnames']) 
        asf = asf.merge(batch_info.loc[:, ['fbatchno','funitnames', 'unit_link_id']], how = 'left', left_on = ['batch_no', 'unit'], right_on = ['fbatchno', 'funitnames']) 

        #对Unit_link_id 做计数统计
        antigen_count = pd.DataFrame(antigen.unit_link_id.value_counts().reset_index())
        antigen_count.columns = ['unit_link_id', 'antigen_total'] #重命名列名

        asf_count = pd.DataFrame(asf.unit_link_id.value_counts().reset_index())
        asf_count.columns = ['unit_link_id', 'asf_total'] #重命名列名

        #合并表格，
        round1 = antigen_count.merge(asf_count, how = 'left', on = 'unit_link_id')

        #合并好的表格中，但凡antigen_total和asf_total都有数据的，那么表示这一轮有检出阳性，记作1，否则就是有检查未检出阳性，记作0
        round1.loc[(round1.antigen_total.notnull()) & (round1.asf_total.notnull()), 'asf_round'] = 1
        round1['asf_round'].fillna(0, inplace = True)

        return round1
    
    #第一轮是否阳性
    asf_round1 = asf_annal_round('2018-10-01', '2019-09-30')
    #第二轮是否阳性
    asf_round2 = asf_annal_round('2019-10-01', '2020-09-30')
    #第三轮是否阳性
    asf_round3 = asf_annal_round('2020-09-30', '2030-09-30')

    database = database.merge(asf_round1.loc[:, ['unit_link_id', 'asf_round']], how = 'left', on = 'unit_link_id')
    database = database.merge(asf_round2.loc[:, ['unit_link_id', 'asf_round']], how = 'left', on = 'unit_link_id')
    database = database.merge(asf_round3.loc[:, ['unit_link_id', 'asf_round']], how = 'left', on = 'unit_link_id')
    
    database_copy = database.copy()
    
    #区分分子分母
    database_copy['numerator'] = database_copy.loc[:, ['asf_round_x', 'asf_round_y','asf_round']].sum(axis = 1) #分子 = 所有送检阳性的轮次
    database_copy['denominator'] = database_copy.loc[:, ['asf_round_x', 'asf_round_y','asf_round']].count(axis = 1) #分母， count() 计算所有非NAN的个数

    #比率计算函数
    def ratio_detail(x): 
        numerator = int(x.numerator)
        denominator = int(x.denominator)
        output = ''
        if denominator == 0: #防止存在分母为0的情况
            output = '0.0'
        else: 
            output = str(numerator / denominator)
        return output + '(' + str(numerator) + '/' + str(denominator) + ')'

    #赋值
    database_copy['asf_ratio'] = database_copy.apply(lambda x: ratio_detail(x), axis = 1)

    database['asf_ratio'] = database_copy.asf_ratio
    
    return database.loc[:,['ffieldid', 'fareaid', 'fregionname', 'ffield', 'ffieldtypename',
       'fsegmentid', 'ffeeder_name', 'ffeeder_code', 'funitnames',
       'unit_link_id','asf_ratio']]

In [90]:
get_asf_rate(get_database())

,ffieldid,fareaid,fregionname,ffield,ffieldtypename,fsegmentid,ffeeder_name,ffeeder_code,funitnames,unit_link_id,asf_ratio
0,15332702.0,15210204.0,内蒙古,奈曼9场生长场,生长场,13907,杜艳波,200515736,45,15210204.0|15332702.0|13907|45,0.0(0/2)
1,15332702.0,15210204.0,内蒙古,奈曼9场生长场,生长场,13907,杜艳波,200515736,47,15210204.0|15332702.0|13907|47,0.0(0/1)
2,15332702.0,15210204.0,内蒙古,奈曼9场生长场,生长场,13907,杜艳波,200515736,48,15210204.0|15332702.0|13907|48,0.0(0/1)
3,15332702.0,15210204.0,内蒙古,奈曼9场生长场,生长场,13907,杜艳波,200515736,46,15210204.0|15332702.0|13907|46,0.0(0/1)
4,913.0,13903.0,南阳,内乡19场,繁殖场,13905,岳石红,07040157,25,13903.0|913.0|13905|25,0.0(0/1)
...,...,...,...,...,...,...,...,...,...,...,...
889352,15169238.0,13902.0,南阳,邓州9场,繁殖场,13908,张鑫,200514277,30,13902.0|15169238.0|13908|30,0.0(0/0)
889353,15169238.0,13902.0,南阳,邓州9场,繁殖场,13908,张鑫,200514277,31,13902.0|15169238.0|13908|31,0.0(0/0)
889354,15169210.0,15166090.0,豫北,杞县1场,繁殖场,13910,曹瑞利,16091378,32,15166090.0|15169210.0|13910|32,0.0(0/1)
889355,15169210.0,15166090.0,豫北,杞县1场,繁殖场,13910,曹瑞利,16091378,33,15166090.0|15169210.0|13910|33,0.0(0/1)
889356,15169210.0,15166090.0,豫北,杞县1场,繁殖场,13910,曹瑞利,16091378,34,15166090.0|15169210.0|13910|34,0.0(0/0)

### 分段

每一轮：首先利用myana.datamining_DWS_DS_antigen_UD 筛选2018-2019所有送检去检查的批次和单元。送检过但没检出非瘟的记录为0，检出的记1

In [145]:
# 每一轮检测的函数
def asf_annal_round(starttime, endtime):
    '''输入起始时间和末尾时间
        输出每一轮的非洲猪瘟的检测结果。0 表示有送检未检出阳性，1表示有送检并且检出阳性
    '''
    #每一轮的送检表格
    antigen_sql = '''select * from myana.datamining_DWS_DS_antigen_UD where `sampling_time`>='{start}' and `sampling_time`<='{end}' '''
    antigen_sql = antigen_sql.format(start = starttime, end = endtime)
    antigen = pd.read_sql(antigen_sql, hiveConn)
    
    #每一轮的阳性检测表格
    asf_sql = '''select * from myana.datamining_DWS_DS_antigen_UD where `sampling_time`>='{start}' and `sampling_time`<='{end}' and (concat_ws(',',pcrdl_result) LIKE '%A%' OR concat_ws(',',pcr_result) LIKE '%A%') '''
    asf_sql = asf_sql.format(start = starttime, end = endtime)
    asf = pd.read_sql(asf_sql, hiveConn)
    
    
    #获得单独unit_link_id
    antigen = antigen.merge(batch_info.loc[:, ['fbatchno','funitnames', 'unit_link_id']], how = 'left', left_on = ['batch_no', 'unit'], right_on = ['fbatchno', 'funitnames']) 
    asf = asf.merge(batch_info.loc[:, ['fbatchno','funitnames', 'unit_link_id']], how = 'left', left_on = ['batch_no', 'unit'], right_on = ['fbatchno', 'funitnames']) 
    
    #对Unit_link_id 做计数统计
    antigen_count = pd.DataFrame(antigen.unit_link_id.value_counts().reset_index())
    antigen_count.columns = ['unit_link_id', 'antigen_total'] #重命名列名

    asf_count = pd.DataFrame(asf.unit_link_id.value_counts().reset_index())
    asf_count.columns = ['unit_link_id', 'asf_total'] #重命名列名

    #合并表格 
    round1 = antigen_count.merge(asf_count, how = 'left', on = 'unit_link_id')

    #合并好的表格中，但凡antigen_total和asf_total都有数据的，那么表示这一轮有检出阳性，记作1，否则就是有检查未检出阳性，记作0
    round1.loc[(round1.antigen_total.notnull()) & (round1.asf_total.notnull()), 'asf_round'] = 1
    round1['asf_round'].fillna(0, inplace = True)
    
    return round1

asf_annal_round('2018-10-01', '2019-09-30')

                        unit_link_id  antigen_total  asf_total  asf_round
0                    nan|nan|13911|1             57        4.0        1.0
1     15116388.0|15168956.0|13907|10             27        NaN        0.0
2                    nan|nan|13911|2             24        NaN        0.0
3     15116388.0|15168956.0|13907|13             22        NaN        0.0
4      15116388.0|15168956.0|13907|9             19        NaN        0.0
...                              ...            ...        ...        ...
7606  15173725.0|15245263.0|13907|47              1        NaN        0.0
7607   15168980.0|15168983.0|13908|3              1        NaN        0.0
7608  15281045.0|15317597.0|13907|41              1        NaN        0.0
7609  15327263.0|15337259.0|13907|10              1        NaN        0.0
7610  15116388.0|15257188.0|13905|54              1        1.0        1.0

[7611 rows x 4 columns]

In [146]:
#第一轮是否阳性
asf_round1 = asf_annal_round('2018-10-01', '2019-09-30')
#第二轮是否阳性
asf_round2 = asf_annal_round('2019-10-01', '2020-09-30')
#第三轮是否阳性
asf_round3 = asf_annal_round('2020-09-30', '2030-09-30')

In [147]:
#合并到基础表中
data2 = get_database()

data2 = data2.merge(asf_round1.loc[:, ['unit_link_id', 'asf_round']], how = 'left', on = 'unit_link_id')
data2 = data2.merge(asf_round2.loc[:, ['unit_link_id', 'asf_round']], how = 'left', on = 'unit_link_id')
data2 = data2.merge(asf_round3.loc[:, ['unit_link_id', 'asf_round']], how = 'left', on = 'unit_link_id')
data2

,ffieldid,fareaid,fregionname,ffield,ffieldtypename,fsegmentid,ffeeder_name,ffeeder_code,funitnames,unit_link_id,asf_round_x,asf_round_y,asf_round
0,913.0,13903.0,南阳,内乡19场,繁殖场,13907,岳石红,07040157,25,13903.0|913.0|13907|25,NaN,NaN,NaN
1,902.0,13903.0,南阳,内乡8场,生长场,13907,秦高礼,07110124,6,13903.0|902.0|13907|6,NaN,NaN,NaN
2,35543.0,13903.0,南阳,内乡24场1区,繁殖场,13910,沈红晓,15030116,16,13903.0|35543.0|13910|16,NaN,NaN,NaN
3,15168954.0,15116388.0,豫东,扶沟12场1区,繁殖场,13905,谷江涛,200425790,9,15116388.0|15168954.0|13905|9,NaN,0.0,0.0
4,15116201.0,15115302.0,山东,曹县1场1区,繁殖场,13905,李壮壮,170700246,72,15115302.0|15116201.0|13905|72,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
890538,15169238.0,13902.0,南阳,邓州9场,繁殖场,13907,张鑫,200514277,30,13902.0|15169238.0|13907|30,NaN,NaN,NaN
890539,15169238.0,13902.0,南阳,邓州9场,繁殖场,13907,张鑫,200514277,31,13902.0|15169238.0|13907|31,NaN,NaN,NaN
890540,15169210.0,15166090.0,豫北,杞县1场,繁殖场,13910,曹瑞利,16091378,32,15166090.0|15169210.0|13910|32,NaN,NaN,0.0
890541,15169210.0,15166090.0,豫北,杞县1场,繁殖场,13910,曹瑞利,16091378,33,15166090.0|15169210.0|13910|33,NaN,0.0,NaN
890542,15169210.0,15166090.0,豫北,杞县1场,繁殖场,13910,曹瑞利,16091378,34,15166090.0|15169210.0|13910|34,NaN,NaN,NaN

In [151]:
# 计算历史检测阳性比率

#区分分子分母
data2['numerator'] = data2.loc[:, ['asf_round_x', 'asf_round_y','asf_round']].sum(axis = 1) #分子 = 所有送检阳性的轮次
data2['denominator'] = data2.loc[:, ['asf_round_x', 'asf_round_y','asf_round']].count(axis = 1) #分母， count() 计算所有非NAN的个数

#比率计算函数
def ratio_detail(x): 
    numerator = int(x.numerator)
    denominator = int(x.denominator)
    output = ''
    if denominator == 0: #防止存在分母为0的情况
        output = '0.0'
    else: 
        output = str(numerator / denominator)
    return output + '(' + str(numerator) + '/' + str(denominator) + ')'

#赋值
data2['asf_ratio'] = data2.apply(lambda x: ratio_detail(x), axis = 1)

data['asf_ratio'] = data2.asf_ratio
data

,ffieldid,fareaid,fregionname,ffield,ffieldtypename,fsegmentid,ffeeder_name,ffeeder_code,funitnames,unit_link_id,asf_total,asf_ratio
0,15396975.0,15396730.0,豫北,清丰1场,繁殖场,13907,丁兆金,210332991,17,15396730.0|15396975.0|13907|17,NaN,0.0(0/0)
1,15338744.0,15327263.0,湖北,石首9场繁殖场,繁殖场,13905,朱锋,201134568,5,15327263.0|15338744.0|13905|5,NaN,0.0(0/0)
2,15173775.0,15173773.0,豫东,商水4场2区,繁殖场,13905,郭玉红,180601447,26,15173773.0|15173775.0|13905|26,NaN,0.0(0/0)
3,15173775.0,15173773.0,豫东,商水4场2区,繁殖场,13905,郭玉红,180601447,27,15173773.0|15173775.0|13905|27,NaN,0.0(0/2)
4,15380989.0,15326620.0,山东,垦利3场2区,繁殖场,13905,杜宝海,200321976,13,15326620.0|15380989.0|13905|13,NaN,0.0(0/1)
...,...,...,...,...,...,...,...,...,...,...,...,...
890480,15168954.0,15116388.0,豫东,扶沟12场1区,繁殖场,13907,张广军,170901192,12,15116388.0|15168954.0|13907|12,NaN,0.0(0/0)
890481,15451854.0,15380707.0,辽宁,康平8场繁殖场,繁殖场,13907,陶俊祥,180306257,19,15380707.0|15451854.0|13907|19,NaN,0.0(0/0)
890482,15341968.0,15341960.0,山东,牡丹2场,繁殖场,13907,何艳雪,210611799,10,15341960.0|15341968.0|13907|10,NaN,0.0(0/1)
890483,15323111.0,15173725.0,豫东,太康19场,繁殖场,13907,郭萍,10070215,5,15173725.0|15323111.0|13907|5,NaN,0.0(0/0)
890484,15298923.0,15210204.0,内蒙古,奈曼1场,繁殖场,13905,徐宏凤,170501776,19,15210204.0|15298923.0|13905|19,NaN,0.0(0/0)

# 字段： 非瘟发生平均顺序三轮具体时间段
该单元在这个时间段内 所有阳性单元检测表格中排第几（按照时间排序）

In [91]:
def get_asf_sorted(starttime, endtime): 
    '''输出每一轮按照时间序列排列好的送检报告，
    0表示未检出，其他数字表示检出序号'''
    #每一轮的送检表格
    antigen_sql = '''select * from myana.datamining_DWS_DS_antigen_UD where `sampling_time`>='{start}' and `sampling_time`<='{end}' '''
    antigen_sql = antigen_sql.format(start = starttime, end = endtime)
    antigen = pd.read_sql(antigen_sql, hiveConn)
    
    #每一轮的阳性检测表格
    asf_sql = '''select * from myana.datamining_DWS_DS_antigen_UD where `sampling_time`>='{start}' and `sampling_time`<='{end}' and (concat_ws(',',pcrdl_result) LIKE '%A%' OR concat_ws(',',pcr_result) LIKE '%A%') '''
    asf_sql = asf_sql.format(start = starttime, end = endtime)
    asf = pd.read_sql(asf_sql, hiveConn)
    
    #获得单独unit_link_id
    antigen = antigen.merge(batch_info.loc[:, ['fbatchno','funitnames', 'unit_link_id']], how = 'left', left_on = ['batch_no', 'unit'], right_on = ['fbatchno', 'funitnames']) 
    asf = asf.merge(batch_info.loc[:, ['fbatchno','funitnames', 'unit_link_id']], how = 'left', left_on = ['batch_no', 'unit'], right_on = ['fbatchno', 'funitnames']) 
    
    #去除缺失值
    antigen = antigen.loc[antigen.unit_link_id.notnull()]
    asf = asf.loc[asf.unit_link_id.notnull()]
    
    #建立新的表格作为排序好的表
    asf_sorted = asf.copy()
    
    #转化 asf 的sampling_time 为时间格式
    asf_sorted.sampling_time = asf_sorted.sampling_time.astype('datetime64')
    #按照时间排序 并且去重
    asf_sorted = asf_sorted.sort_values(by = 'sampling_time').drop_duplicates(subset=['unit_link_id'], keep='first', inplace=False)
    
    #添加序号字段（升序）
    asf_sorted['sort'] = range(1, asf_sorted.shape[0]+1)
    
    #序列重启
    asf_sorted = asf_sorted.reset_index(drop = True).loc[:,['unit_link_id','sort']]
    
    #现在结合年度送检表，填充序号字段，
    #0表示未检出，其他数字表示检出序号
    antigen = antigen.drop_duplicates(subset=['unit_link_id'], keep='first', inplace=False)
    asf_sorted2 = antigen.merge(asf_sorted, how = 'left', on = 'unit_link_id')
    asf_sorted2['sort'].fillna(0, inplace = True)

    return asf_sorted2.loc[:,['unit_link_id','sort']]
    
    
get_asf_sorted('2019-10-01', '2020-09-30')

                         unit_link_id    sort
0       15333196.0|15386680.0|13905|5     0.0
1       15166430.0|15171873.0|13907|4     0.0
2      15166430.0|15291253.0|13909|17     0.0
3       5115089.0|15115140.0|13907|14  1139.0
4      15316694.0|15317635.0|13907|24     0.0
...                               ...     ...
22288  15326334.0|15376517.0|13907|24     0.0
22289  15115302.0|15370578.0|13910|83  3004.0
22290  15210205.0|15334499.0|13907|35     0.0
22291  15115302.0|15370576.0|13905|43     0.0
22292  15314426.0|15380178.0|13907|86     0.0

[22293 rows x 2 columns]

In [92]:
def asf_sort_avg(database): 
    '''输出添加好排序均值字段的数据表格'''
    #第一轮排序
    asf_sorted1 = get_asf_sorted('2018-10-01', '2019-09-30')
    #第二轮排序
    asf_sorted2 = get_asf_sorted('2019-10-01', '2020-09-30')
    #第三轮排序
    asf_sorted3 = get_asf_sorted('2020-09-30', '2030-09-10')
    
    #基础表合并
    database = database.merge(asf_sorted1, how = 'left', on = 'unit_link_id')
    database = database.merge(asf_sorted2, how = 'left', on = 'unit_link_id')
    database = database.merge(asf_sorted3, how = 'left', on = 'unit_link_id')
    
    # 重命名
    database = database.rename(columns = {'sort_x' : 'sort1', 'sort_y': 'sort2', 'sort':'sort3'})
    
    #拷贝
    database_copy = database.copy()
    
    #计算均值
    database_copy['sort_avg'] = database_copy.loc[:,['sort1', 'sort2','sort3']].mean(axis = 1, skipna = True)
    #填充缺失值
    database_copy['sort_avg'].fillna(0, inplace = True)
    
    #生成字段
    database_copy.loc[:,['sort1', 'sort2','sort3']] = database_copy.loc[:,['sort1', 'sort2','sort3']].fillna('未送检')
    database_copy.loc[:,['sort1', 'sort2','sort3']] = database_copy.loc[:,['sort1', 'sort2','sort3']].replace(to_replace= 0.0, value = '未检出')
    
    database_copy['sort_detail'] = database_copy.sort_avg.astype(str) + '(' + database_copy.sort1.astype(str) +',' +  database_copy.sort2.astype(str) + ',' +  database_copy.sort3.astype(str) + ')'
    
    database['sort_detail'] = database_copy.sort_detail
    
    return database.loc[:,['ffieldid', 'fareaid', 'fregionname', 'ffield', 'ffieldtypename',
       'fsegmentid', 'ffeeder_name', 'ffeeder_code', 'funitnames',
       'unit_link_id','sort_detail']]

asf_sort_avg(get_database())

,ffieldid,fareaid,fregionname,ffield,ffieldtypename,fsegmentid,ffeeder_name,ffeeder_code,funitnames,unit_link_id,sort_detail
0,913.0,13903.0,南阳,内乡19场,繁殖场,13905,岳石红,07040157,25,13903.0|913.0|13905|25,"0.0(未检出,未送检,未送检)"
1,902.0,13903.0,南阳,内乡8场,生长场,13907,秦高礼,07110124,6,13903.0|902.0|13907|6,"0.0(未送检,未送检,未送检)"
2,35543.0,13903.0,南阳,内乡24场1区,繁殖场,13910,沈红晓,15030116,16,13903.0|35543.0|13910|16,"0.0(未送检,未送检,未送检)"
3,15168954.0,15116388.0,豫东,扶沟12场1区,繁殖场,13905,谷江涛,200425790,9,15116388.0|15168954.0|13905|9,"0.0(未送检,未检出,未检出)"
4,15116201.0,15115302.0,山东,曹县1场1区,繁殖场,13905,李壮壮,170700246,72,15115302.0|15116201.0|13905|72,"0.0(未检出,未送检,未送检)"
...,...,...,...,...,...,...,...,...,...,...,...
889352,15332516.0,15332317.0,吉林,前郭1场生长场,生长场,13907,王刚,200407834,52,15332317.0|15332516.0|13907|52,"0.0(未送检,未送检,未送检)"
889353,15332516.0,15332317.0,吉林,前郭1场生长场,生长场,13907,王刚,200407834,53,15332317.0|15332516.0|13907|53,"0.0(未送检,未送检,未送检)"
889354,15332516.0,15332317.0,吉林,前郭1场生长场,生长场,13907,王刚,200407834,54,15332317.0|15332516.0|13907|54,"0.0(未送检,未送检,未送检)"
889355,15332516.0,15332317.0,吉林,前郭1场生长场,生长场,13907,王刚,200407834,55,15332317.0|15332516.0|13907|55,"0.0(未送检,未送检,未送检)"
889356,15332516.0,15332317.0,吉林,前郭1场生长场,生长场,13907,王刚,200407834,56,15332317.0|15332516.0|13907|56,"0.0(未送检,未送检,未送检)"

# 字段：饲养员处理的批次发病率

### 汇总方程

In [94]:
def get_feeder_rate(database):
    '''计算饲养员处理的批次发病率'''
    feeder_sql = '''
    SELECT f1.*, f2.asf_batch FROM 
    (
    SELECT ffeeder_name, ffeeder_code, count(distinct fbatchno) as all_batch FROM 
    (SELECT a.*, b.fbatchno FROM (SELECT DISTINCT ffeeder_name, ffeeder_code FROM myana.datamining_DWD_BI) a 
    LEFT JOIN myana.datamining_DWD_BI b 
    ON a.ffeeder_code = b.ffeeder_code)
    group by ffeeder_name, ffeeder_code
    ) f1 
    LEFT JOIN 
    (SELECT A.ffeeder_name, A.ffeeder_code, count(distinct fbatchno) as asf_batch
    from (
    SELECT a.*, b.fbatchno FROM (SELECT DISTINCT ffeeder_name, ffeeder_code FROM myana.datamining_DWD_BI) a 
    LEFT JOIN myana.datamining_DWD_BI b 
    ON a.ffeeder_code = b.ffeeder_code ) A 
    LEFT JOIN myana.datamining_DWS_DS_antigen_UD B 
    on A.fbatchno = B.batch_no 
    WHERE concat_ws(',',pcrdl_result) LIKE '%A%' OR concat_ws(',',pcr_result) LIKE '%A%'
    group by A.ffeeder_name, A.ffeeder_code) f2
    ON f1.ffeeder_name = f2.ffeeder_name AND f1.ffeeder_code = f2.ffeeder_code 
    '''
    feeder_df = pd.read_sql(feeder_sql, hiveConn)
    feeder_df = feeder_df.fillna(0)
    feeder_df['feeder_ratio'] = feeder_df.asf_batch / feeder_df.all_batch
    
    def get_feeder_detail(feeder_df):
        '''输出饲养历史批次发生比例'''
        #四舍五入
        feeder_df = feeder_df.round(4)
        feeder_df['feeder_ratio'] = feeder_df.feeder_ratio.apply(lambda x : format(x,'.2%'))
        #
        feeder_df['feeder_detail'] = feeder_df.feeder_ratio.astype(str) + '(' + feeder_df.asf_batch.astype(str) + '/' + feeder_df.all_batch.astype(str) + ')'
        return feeder_df 
    
    aa = get_feeder_detail(feeder_df)
    database = database.merge(aa.loc[:,['ffeeder_code', 'feeder_detail']], how = 'left', on = 'ffeeder_code')
    
    return database.loc[:,['ffieldid', 'fareaid', 'fregionname', 'ffield', 'ffieldtypename',
       'fsegmentid', 'ffeeder_name', 'ffeeder_code', 'funitnames',
       'unit_link_id','feeder_detail']]

In [95]:
get_feeder_rate(get_database())

,ffieldid,fareaid,fregionname,ffield,ffieldtypename,fsegmentid,ffeeder_name,ffeeder_code,funitnames,unit_link_id,feeder_detail
0,15396975.0,15396730.0,豫北,清丰1场,繁殖场,13910,丁兆金,210332991,17,15396730.0|15396975.0|13910|17,0.00%(0.0/12)
1,15338744.0,15327263.0,湖北,石首9场繁殖场,繁殖场,13905,朱锋,201134568,5,15327263.0|15338744.0|13905|5,0.00%(0.0/18)
2,15173775.0,15173773.0,豫东,商水4场2区,繁殖场,13905,郭玉红,180601447,26,15173773.0|15173775.0|13905|26,0.00%(0.0/30)
3,15173775.0,15173773.0,豫东,商水4场2区,繁殖场,13905,郭玉红,180601447,27,15173773.0|15173775.0|13905|27,0.00%(0.0/30)
4,15380989.0,15326620.0,山东,垦利3场2区,繁殖场,13905,杜宝海,200321976,13,15326620.0|15380989.0|13905|13,0.00%(0.0/23)
...,...,...,...,...,...,...,...,...,...,...,...
889570,15168954.0,15116388.0,豫东,扶沟12场1区,繁殖场,13905,张广军,170901192,12,15116388.0|15168954.0|13905|12,1.85%(1.0/54)
889571,15451854.0,15380707.0,辽宁,康平8场繁殖场,繁殖场,13905,陶俊祥,180306257,19,15380707.0|15451854.0|13905|19,0.00%(0.0/34)
889572,15341968.0,15341960.0,山东,牡丹2场,繁殖场,13910,何艳雪,210611799,10,15341960.0|15341968.0|13910|10,0.00%(0.0/2)
889573,15323111.0,15173725.0,豫东,太康19场,繁殖场,13910,郭萍,10070215,5,15173725.0|15323111.0|13910|5,0.00%(0.0/43)
889574,15298923.0,15210204.0,内蒙古,奈曼1场,繁殖场,13905,徐宏凤,170501776,19,15210204.0|15298923.0|13905|19,0.00%(0.0/34)

### 分段

In [70]:
feeder_sql = '''
SELECT f1.*, f2.asf_batch FROM 
(
SELECT ffeeder_name, ffeeder_code, count(distinct fbatchno) as all_batch FROM 
(SELECT a.*, b.fbatchno FROM (SELECT DISTINCT ffeeder_name, ffeeder_code FROM myana.datamining_DWD_BI) a 
LEFT JOIN myana.datamining_DWD_BI b 
ON a.ffeeder_code = b.ffeeder_code)
group by ffeeder_name, ffeeder_code
) f1 
LEFT JOIN 
(SELECT A.ffeeder_name, A.ffeeder_code, count(distinct fbatchno) as asf_batch
from (
SELECT a.*, b.fbatchno FROM (SELECT DISTINCT ffeeder_name, ffeeder_code FROM myana.datamining_DWD_BI) a 
LEFT JOIN myana.datamining_DWD_BI b 
ON a.ffeeder_code = b.ffeeder_code ) A 
LEFT JOIN myana.datamining_DWS_DS_antigen_UD B 
on A.fbatchno = B.batch_no 
WHERE concat_ws(',',pcrdl_result) LIKE '%A%' OR concat_ws(',',pcr_result) LIKE '%A%'
group by A.ffeeder_name, A.ffeeder_code) f2
ON f1.ffeeder_name = f2.ffeeder_name AND f1.ffeeder_code = f2.ffeeder_code 
'''
feeder_df = pd.read_sql(feeder_sql, hiveConn)
feeder_df = feeder_df.fillna(0)
feeder_df['feeder_ratio'] = feeder_df.asf_batch / feeder_df.all_batch
feeder_df

      ffeeder_name ffeeder_code  all_batch  asf_batch  feeder_ratio
0              丁小雨    200924307          7        0.0      0.000000
1              丁文泉    200512960         20        0.0      0.000000
2              丁明丽    210418969          6        0.0      0.000000
3              丁明波    190203032         56        1.0      0.017857
4              丁杨华    201239354          1        0.0      0.000000
...            ...          ...        ...        ...           ...
94068          龙晓帅    210400592          2        0.0      0.000000
94069          龚保良    170204424         12        1.0      0.083333
94070           龚成    200107967          9        0.0      0.000000
94071           龚雪     16040041          8        0.0      0.000000
94072           龚雪    180301720          4        0.0      0.000000

[94073 rows x 5 columns]

In [81]:
def get_feeder_detail(feeder_df):
    '''输出饲养历史批次发生比例'''
    #四舍五入
    feeder_df = feeder_df.round(4)
    feeder_df['feeder_ratio'] = feeder_df.feeder_ratio.apply(lambda x : format(x,'.2%'))
    #
    feeder_df['feeder_detail'] = feeder_df.feeder_ratio.astype(str) + '(' + feeder_df.asf_batch.astype(str) + '/' + feeder_df.all_batch.astype(str) + ')'
    
    return feeder_df 

get_feeder_detail(feeder_df)

,ffeeder_name,ffeeder_code,all_batch,asf_batch,feeder_ratio,feeder_detail
0,丁小雨,200924307,7,0.0,0.00%,0.00%(0.0/7)
1,丁文泉,200512960,20,0.0,0.00%,0.00%(0.0/20)
2,丁明丽,210418969,6,0.0,0.00%,0.00%(0.0/6)
3,丁明波,190203032,56,1.0,1.79%,1.79%(1.0/56)
4,丁杨华,201239354,1,0.0,0.00%,0.00%(0.0/1)
...,...,...,...,...,...,...
94068,龙晓帅,210400592,2,0.0,0.00%,0.00%(0.0/2)
94069,龚保良,170204424,12,1.0,8.33%,8.33%(1.0/12)
94070,龚成,200107967,9,0.0,0.00%,0.00%(0.0/9)
94071,龚雪,16040041,8,0.0,0.00%,0.00%(0.0/8)
94072,龚雪,180301720,4,0.0,0.00%,0.00%(0.0/4)

In [82]:
data4 = get_database()
aa = get_feeder_detail(feeder_df)
data4 = data4.merge(aa.loc[:,['ffeeder_code', 'feeder_detail']], how = 'left', on = 'ffeeder_code')

In [83]:
data4

,ffieldid,fareaid,fregionname,ffield,ffieldtypename,fsegmentid,ffeeder_name,ffeeder_code,funitnames,unit_link_id,feeder_detail
0,15389682.0,15166090.0,豫北,杞县17场繁殖场2区,繁殖场,13910,宋继康,200712778,23,15166090.0|15389682.0|13910|23,0.00%(0.0/24)
1,15389682.0,15166090.0,豫北,杞县17场繁殖场2区,繁殖场,13910,宋继康,200712778,24,15166090.0|15389682.0|13910|24,0.00%(0.0/24)
2,15353305.0,15330084.0,吉林,通榆1场2区,繁殖场,13905,鲍继朋,171200144,37,15330084.0|15353305.0|13905|37,0.00%(0.0/18)
3,15338800.0,15165877.0,豫北,通许10场,生长场,13907,梁帅,210101471,13,15165877.0|15338800.0|13907|13,0.00%(0.0/2)
4,15338800.0,15165877.0,豫北,通许10场,生长场,13907,梁帅,210101471,14,15165877.0|15338800.0|13907|14,0.00%(0.0/2)
...,...,...,...,...,...,...,...,...,...,...,...
889570,NaN,NaN,None,None,None,13907,李旭,190601724,1,nan|nan|13907|1,0.00%(0.0/9)
889571,NaN,NaN,None,None,None,13907,李旭,190601724,,nan|nan|13907|,0.00%(0.0/9)
889572,15298923.0,15210204.0,内蒙古,奈曼1场,繁殖场,13910,周洪艳,190701438,8,15210204.0|15298923.0|13910|8,0.00%(0.0/21)
889573,15330484.0,15325844.0,辽宁,阜新5场,生长场,13907,海玉花,210118610,36,15325844.0|15330484.0|13907|36,0.00%(0.0/2)
889574,15411687.0,15411683.0,京津冀,景县3场生长场,生长场,13907,刘金贵,210353814,18,15411683.0|15411687.0|13907|18,0.00%(0.0/5)

# 脚本

In [4]:
 #星环链接形式
hiveConn = hive.Connection(host='10.106.20.15', port=10000, username='szchenye', password='szcy230#',
                                   database='mydw', auth='CUSTOM')
def str_to_list(x):
        '''辅助方程：字符串转列表'''
        data_list = x["funitnames"].replace("第","").replace("单元","").split(";")
        return data_list[0:-1]

def get_database():
    '''得到基础表'''
    
    #批次信息和中文信息表合并
    database_sql = '''SELECT a.*, b.fsegmentid, b.ffeeder_name, b.ffeeder_code, b.funitnames FROM (SELECT ffieldid,fareaid,fregionname,ffield,ffieldtypename FROM myana.datamining_DIM_AF) a 
    RIGHT JOIN (SELECT DISTINCT fsegmentid, ffieldid, fareaid, ffeeder_name, ffeeder_code, funitnames FROM myana.datamining_DWD_BI) b
    ON a.ffieldid = b.ffieldid AND a.fareaid = b.fareaid
    '''
    database = pd.read_sql(database_sql, hiveConn)

    #将funitnames 转化成单一数字字符，代表单元号
    database['funitnames'] = database.apply(lambda x: str_to_list(x), axis=1)
    database = database.reindex(
        database.index.repeat(database.funitnames.str.len())).assign(
        funitnames=np.concatenate(database.funitnames.values))
    
    #筛选条件：1. 生长场：出现后备段统一归在育肥；2.繁殖场有保育情况剔除
    database.loc[database.ffieldtypename == '生长场', 'fsegmentid'] = 13907
    database = database.drop(database.loc[(database.ffieldtypename == '繁殖场') & (database.fsegmentid == 13906)].index, axis = 0)
    
    database = database.reset_index()
    
    database2 = database.copy() #拷贝
    #新增一个字段便于后面的匹配，字段包括场区ID， 区域ID， 工段ID 和单元号
    database2['unit_link_id'] = database2.fareaid.astype(str) + '|' +  database2.ffieldid.astype(str) + '|' + database2.fsegmentid.astype(str) + '|' + database2.funitnames.astype(str)
    
    database['unit_link_id'] = database2.unit_link_id
    #输出
    return database
    
def get_batch_info():
    '''输出以批次号为单位的信息表'''
    #批次信息和中文信息表合并
    batch_info_sql = '''SELECT b.fbatchno, a.*, b.fsegmentid, b.ffeeder_name, b.ffeeder_code, b.funitnames  FROM (SELECT ffieldid,fareaid,fregionname,ffield,ffieldtypename FROM myana.datamining_DIM_AF) a 
    RIGHT JOIN myana.datamining_DWD_BI b
    ON a.ffieldid = b.ffieldid'''

    batch_info = pd.read_sql(batch_info_sql, hiveConn )

    #将funitnames 转化成单一数字字符，代表单元号
    batch_info['funitnames'] = batch_info.apply(lambda x: str_to_list(x), axis=1)
    batch_info = batch_info.reindex(
        batch_info.index.repeat(batch_info.funitnames.str.len())).assign(
        funitnames=np.concatenate(batch_info.funitnames.values))

    #筛选条件：1. 生长场：出现后备段统一归在育肥；2.繁殖场有保育情况剔除

    batch_info.loc[batch_info.ffieldtypename == '生长场', 'fsegmentid'] = 13907
    batch_info = batch_info.drop(batch_info.loc[(batch_info.ffieldtypename == '繁殖场') & (batch_info.fsegmentid == 13906)].index, axis = 0)

    #可以新增一个字段便于后面的匹配，字段包括场区ID， 区域ID， 工段ID 和单元号
    batch_info['unit_link_id'] = batch_info.fareaid.astype(str) + '|' +  batch_info.ffieldid.astype(str) + '|' + batch_info.fsegmentid.astype(str) + '|' + batch_info.funitnames.astype(str)

    #重置序号
    batch_info = batch_info.reset_index(drop = True) #drop参数会取代原来的index 
    
    return batch_info 

database = get_database()
batch_info = get_batch_info()

In [5]:
def get_asf_count(database):
    '''计算历史单元阳性总次数'''
    #送检信息
    sj_info_sql = '''
    SELECT batch_no, unit, pcr_result, pcrdl_result, date_format(sampling_time, 'yyyy-MM-dd') AS sample_time FROM myana.datamining_DWS_DS_antigen_UD
    '''
    sj_info = pd.read_sql(sj_info_sql,hiveConn)

    #送检表和上面批次信息表格根据批次号匹配，得到相应的unit_link_id 
    sj_info = sj_info.merge(batch_info.loc[:, ['fbatchno','funitnames', 'unit_link_id']], how = 'left', left_on = ['batch_no', 'unit'], right_on = ['fbatchno', 'funitnames'])
   
    # 非洲猪瘟阳性表格（2018至今），positive_num表示计算好阳性的总天数
    asf_data_sql = '''SELECT batch_no, unit, pcr_result, pcrdl_result, date_format(sampling_time, 'yyyy-MM-dd') AS sample_time 
    FROM myana.datamining_DWS_DS_antigen_UD 
    WHERE (concat_ws(',',pcrdl_result) LIKE '%A%' OR concat_ws(',',pcr_result) LIKE '%A%') and `sampling_time`>='2018-10-01'
    '''
    asf_data = pd.read_sql(asf_data_sql, hiveConn)
    #获得单独unit_link_id
    asf_data = asf_data.merge(batch_info.loc[:, ['fbatchno','funitnames', 'unit_link_id']], how = 'left', left_on = ['batch_no', 'unit'], right_on = ['fbatchno', 'funitnames']) 
    
    #计算每个单元的历史阳性次数，注意同一天算一次
    unit_id_list = list(asf_data.unit_link_id.dropna().unique())

    #建立新的dataframe 
    asf_count = pd.DataFrame(unit_id_list, columns = ['unit_link_id'])

    for unit_id in unit_id_list: 
        #计算天数
        num = asf_data.loc[asf_data.unit_link_id == unit_id].sample_time.unique().shape[0]
        #更新df
        asf_count.loc[asf_count.unit_link_id == unit_id, 'asf_total'] = num 
        
    # 合并到基础表格中 （按照unit_link_id)
    database = database.merge(asf_count, how = 'left', on = 'unit_link_id')
    
    return database

def get_asf_rate(database): 
    '''计算三轮非瘟比例'''
    # 每一轮检测的函数
    def asf_annal_round(starttime, endtime):
        '''输入起始时间和末尾时间
            输出每一轮的非洲猪瘟的检测结果。0 表示有送检未检出阳性，1表示有送检并且检出阳性
        '''
        #每一轮的送检表格
        antigen_sql = '''select * from myana.datamining_DWS_DS_antigen_UD where `sampling_time`>='{start}' and `sampling_time`<='{end}' '''
        antigen_sql = antigen_sql.format(start = starttime, end = endtime)
        antigen = pd.read_sql(antigen_sql, hiveConn)

        #每一轮的阳性检测表格
        asf_sql = '''select * from myana.datamining_DWS_DS_antigen_UD where `sampling_time`>='{start}' and `sampling_time`<='{end}' and (concat_ws(',',pcrdl_result) LIKE '%A%' OR concat_ws(',',pcr_result) LIKE '%A%') '''
        asf_sql = asf_sql.format(start = starttime, end = endtime)
        asf = pd.read_sql(asf_sql, hiveConn)


        #获得单独unit_link_id
        antigen = antigen.merge(batch_info.loc[:, ['fbatchno','funitnames', 'unit_link_id']], how = 'left', left_on = ['batch_no', 'unit'], right_on = ['fbatchno', 'funitnames']) 
        asf = asf.merge(batch_info.loc[:, ['fbatchno','funitnames', 'unit_link_id']], how = 'left', left_on = ['batch_no', 'unit'], right_on = ['fbatchno', 'funitnames']) 

        #对Unit_link_id 做计数统计
        antigen_count = pd.DataFrame(antigen.unit_link_id.value_counts().reset_index())
        antigen_count.columns = ['unit_link_id', 'antigen_total'] #重命名列名

        asf_count = pd.DataFrame(asf.unit_link_id.value_counts().reset_index())
        asf_count.columns = ['unit_link_id', 'asf_total'] #重命名列名

        #合并表格 
        round1 = antigen_count.merge(asf_count, how = 'left', on = 'unit_link_id')

        #合并好的表格中，但凡antigen_total和asf_total都有数据的，那么表示这一轮有检出阳性，记作1，否则就是有检查未检出阳性，记作0
        round1.loc[(round1.antigen_total.notnull()) & (round1.asf_total.notnull()), 'asf_round'] = 1
        round1['asf_round'].fillna(0, inplace = True)

        return round1
    
    #第一轮是否阳性
    asf_round1 = asf_annal_round('2018-10-01', '2019-09-30')
    #第二轮是否阳性
    asf_round2 = asf_annal_round('2019-10-01', '2020-09-30')
    #第三轮是否阳性
    asf_round3 = asf_annal_round('2020-09-30', '2030-09-30')

    database = database.merge(asf_round1.loc[:, ['unit_link_id', 'asf_round']], how = 'left', on = 'unit_link_id')
    database = database.merge(asf_round2.loc[:, ['unit_link_id', 'asf_round']], how = 'left', on = 'unit_link_id')
    database = database.merge(asf_round3.loc[:, ['unit_link_id', 'asf_round']], how = 'left', on = 'unit_link_id')
    
    database_copy = database.copy()
    
    #区分分子分母
    database_copy['numerator'] = database_copy.loc[:, ['asf_round_x', 'asf_round_y','asf_round']].sum(axis = 1) #分子 = 所有送检阳性的轮次
    database_copy['denominator'] = database_copy.loc[:, ['asf_round_x', 'asf_round_y','asf_round']].count(axis = 1) #分母， count() 计算所有非NAN的个数

    #比率计算函数
    def ratio_detail(x): 
        numerator = int(x.numerator)
        denominator = int(x.denominator)
        output = ''
        if denominator == 0: #防止存在分母为0的情况
            output = '0.0'
        else: 
            output = str(round(numerator / denominator,4)*100)
        return output + '%'+'(' + str(numerator) + '/' + str(denominator) + ')'

    #赋值
    database_copy['asf_ratio'] = database_copy.apply(lambda x: ratio_detail(x), axis = 1)

    database['asf_ratio'] = database_copy.asf_ratio
    
    return database.loc[:,['ffieldid', 'fareaid', 'fregionname', 'ffield', 'ffieldtypename',
       'fsegmentid', 'ffeeder_name', 'ffeeder_code', 'funitnames',
       'unit_link_id','asf_ratio']]

def get_asf_sorted(starttime, endtime): 
    '''输出每一轮按照时间序列排列好的送检报告，
    0表示未检出，其他数字表示检出序号'''
    #每一轮的送检表格
    antigen_sql = '''select * from myana.datamining_DWS_DS_antigen_UD where `sampling_time`>='{start}' and `sampling_time`<='{end}' '''
    antigen_sql = antigen_sql.format(start = starttime, end = endtime)
    antigen = pd.read_sql(antigen_sql, hiveConn)
    
    #每一轮的阳性检测表格
    asf_sql = '''select * from myana.datamining_DWS_DS_antigen_UD where `sampling_time`>='{start}' and `sampling_time`<='{end}' and (concat_ws(',',pcrdl_result) LIKE '%A%' OR concat_ws(',',pcr_result) LIKE '%A%') '''
    asf_sql = asf_sql.format(start = starttime, end = endtime)
    asf = pd.read_sql(asf_sql, hiveConn)
    
    #获得单独unit_link_id
    antigen = antigen.merge(batch_info.loc[:, ['fbatchno','funitnames', 'unit_link_id']], how = 'left', left_on = ['batch_no', 'unit'], right_on = ['fbatchno', 'funitnames']) 
    asf = asf.merge(batch_info.loc[:, ['fbatchno','funitnames', 'unit_link_id']], how = 'left', left_on = ['batch_no', 'unit'], right_on = ['fbatchno', 'funitnames']) 
    
    #去除缺失值
    antigen = antigen.loc[antigen.unit_link_id.notnull()]
    asf = asf.loc[asf.unit_link_id.notnull()]
    
    #建立新的表格作为排序好的表
    asf_sorted = asf.copy()
    
    #转化 asf 的sampling_time 为时间格式
    asf_sorted.sampling_time = asf_sorted.sampling_time.astype('datetime64')
    #按照时间排序 并且去重
    asf_sorted = asf_sorted.sort_values(by = 'sampling_time').drop_duplicates(subset=['unit_link_id'], keep='first', inplace=False)
    
    #添加序号字段（升序）
    asf_sorted['sort'] = range(1, asf_sorted.shape[0]+1)
    
    #序列重启
    asf_sorted = asf_sorted.reset_index(drop = True).loc[:,['unit_link_id','sort']]
    
    #现在结合年度送检表，填充序号字段，
    #0表示未检出，其他数字表示检出序号
    antigen = antigen.drop_duplicates(subset=['unit_link_id'], keep='first', inplace=False)
    asf_sorted2 = antigen.merge(asf_sorted, how = 'left', on = 'unit_link_id')
    asf_sorted2['sort'].fillna(0, inplace = True)

    return asf_sorted2.loc[:,['unit_link_id','sort']]


def asf_sort_avg(database): 
    '''输出添加好排序均值字段的数据表格'''
    #第一轮排序
    asf_sorted1 = get_asf_sorted('2018-10-01', '2019-09-30')
    #第二轮排序
    asf_sorted2 = get_asf_sorted('2019-10-01', '2020-09-30')
    #第三轮排序
    asf_sorted3 = get_asf_sorted('2020-09-30', '2030-09-10')
    
    #基础表合并
    database = database.merge(asf_sorted1, how = 'left', on = 'unit_link_id')
    database = database.merge(asf_sorted2, how = 'left', on = 'unit_link_id')
    database = database.merge(asf_sorted3, how = 'left', on = 'unit_link_id')
    
    # 重命名
    database = database.rename(columns = {'sort_x' : 'sort1', 'sort_y': 'sort2', 'sort':'sort3'})
    
    #拷贝
    database_copy = database.copy()
    
    #计算均值
    database_copy['sort_avg'] = database_copy.loc[:,['sort1', 'sort2','sort3']].mean(axis = 1, skipna = True)
    #填充缺失值
    database_copy['sort_avg'].fillna(0, inplace = True)
    #保留两位小数点
    database_copy = database_copy.round({'sort_avg': 2})
    
    #生成字段
    database_copy.loc[:,['sort1', 'sort2','sort3']] = database_copy.loc[:,['sort1', 'sort2','sort3']].fillna('未送检')
    database_copy.loc[:,['sort1', 'sort2','sort3']] = database_copy.loc[:,['sort1', 'sort2','sort3']].replace(to_replace= 0.0, value = '未检出')
    
    database_copy['sort_detail'] = database_copy.sort_avg.astype(str) + '(' + database_copy.sort1.astype(str) +',' +  database_copy.sort2.astype(str) + ',' +  database_copy.sort3.astype(str) + ')'
    
    database['sort_detail'] = database_copy.sort_detail
    
    return database.loc[:,['ffieldid', 'fareaid', 'fregionname', 'ffield', 'ffieldtypename',
       'fsegmentid', 'ffeeder_name', 'ffeeder_code', 'funitnames',
       'unit_link_id','sort_detail']]

def get_feeder_rate(database):
    '''计算饲养员处理的批次发病率'''
    feeder_sql = '''
    SELECT f1.*, f2.asf_batch FROM 
    (
    SELECT ffeeder_code, count(distinct fbatchno) as all_batch FROM 
    (SELECT a.*, b.fbatchno FROM (SELECT DISTINCT ffeeder_code FROM myana.datamining_DWD_BI) a 
    LEFT JOIN myana.datamining_DWD_BI b 
    ON a.ffeeder_code = b.ffeeder_code)
    group by ffeeder_code
    ) f1 
    LEFT JOIN 
    (SELECT A.ffeeder_code, count(distinct fbatchno) as asf_batch
    from (
    SELECT a.*, b.fbatchno FROM (SELECT DISTINCT ffeeder_code FROM myana.datamining_DWD_BI) a 
    LEFT JOIN myana.datamining_DWD_BI b 
    ON a.ffeeder_code = b.ffeeder_code ) A 
    LEFT JOIN myana.datamining_DWS_DS_antigen_UD B 
    on A.fbatchno = B.batch_no 
    WHERE concat_ws(',',pcrdl_result) LIKE '%A%' OR concat_ws(',',pcr_result) LIKE '%A%'
    group by A.ffeeder_code) f2
    ON f1.ffeeder_code = f2.ffeeder_code 
    '''
    feeder_df = pd.read_sql(feeder_sql, hiveConn)
    feeder_df = feeder_df.fillna(0)
    feeder_df['feeder_ratio'] = feeder_df.asf_batch / feeder_df.all_batch
    
    def get_feeder_detail(feeder_df):
        '''输出饲养历史批次发生比例'''
        #四舍五入
        feeder_df = feeder_df.round(4)
        feeder_df['feeder_ratio'] = feeder_df.feeder_ratio.apply(lambda x : format(x,'.2%'))
        #
        feeder_df['feeder_detail'] = feeder_df.feeder_ratio.astype(str) + '(' + feeder_df.asf_batch.astype(str) + '/' + feeder_df.all_batch.astype(str) + ')'
        return feeder_df 
    
    aa = get_feeder_detail(feeder_df)
    database = database.merge(aa.loc[:,['ffeeder_code', 'feeder_detail']], how = 'left', on = 'ffeeder_code')
    
    return database.loc[:,['ffieldid', 'fareaid', 'fregionname', 'ffield', 'ffieldtypename',
       'fsegmentid', 'ffeeder_name', 'ffeeder_code', 'funitnames',
       'unit_link_id','feeder_detail']]

In [6]:
d1 = get_asf_count(database)
d2 = get_asf_rate(database)
d3 = asf_sort_avg(database)
d4 = get_feeder_rate(database)

In [7]:
database['asf_total'] = d1.asf_total.fillna(0)
database['asf_ratio'] = d2.asf_ratio
database['sort_detail'] = d3.sort_detail
database['feeder_detail'] = d4.feeder_detail

In [8]:
database.head(24)

,index,ffieldid,fareaid,fregionname,ffield,ffieldtypename,fsegmentid,ffeeder_name,ffeeder_code,funitnames,unit_link_id,asf_total,asf_ratio,sort_detail,feeder_detail
0,0,15396975.0,15396730.0,豫北,清丰1场,繁殖场,13910,丁兆金,210332991,17,15396730.0|15396975.0|13910|17,0.0,0.0%(0/0),"0.0(未送检,未送检,未送检)",0.00%(0.0/12)
1,1,15338744.0,15327263.0,湖北,石首9场繁殖场,繁殖场,13905,朱锋,201134568,5,15327263.0|15338744.0|13905|5,0.0,0.0%(0/2),"0.0(未送检,未检出,未检出)",0.00%(0.0/18)
2,2,15173775.0,15173773.0,豫东,商水4场2区,繁殖场,13905,郭玉红,180601447,26,15173773.0|15173775.0|13905|26,0.0,0.0%(0/1),"0.0(未送检,未送检,未检出)",0.00%(0.0/30)
3,2,15173775.0,15173773.0,豫东,商水4场2区,繁殖场,13905,郭玉红,180601447,27,15173773.0|15173775.0|13905|27,0.0,0.0%(0/1),"0.0(未送检,未送检,未检出)",0.00%(0.0/30)
4,3,15380989.0,15326620.0,山东,垦利3场2区,繁殖场,13905,杜宝海,200321976,13,15326620.0|15380989.0|13905|13,0.0,0.0%(0/1),"0.0(未送检,未送检,未检出)",0.00%(0.0/27)
5,3,15380989.0,15326620.0,山东,垦利3场2区,繁殖场,13905,杜宝海,200321976,14,15326620.0|15380989.0|13905|14,0.0,0.0%(0/0),"0.0(未送检,未送检,未送检)",0.00%(0.0/27)
6,4,15326408.0,15314556.0,内蒙古,开鲁1场繁殖场,繁殖场,13905,李璐,200300435,42,15314556.0|15326408.0|13905|42,0.0,0.0%(0/0),"0.0(未送检,未送检,未送检)",0.00%(0.0/22)
7,5,15398240.0,15337393.0,安徽,泗县1场4区,繁殖场,13910,张二喜,171002851,77,15337393.0|15398240.0|13910|77,0.0,0.0%(0/0),"0.0(未送检,未送检,未送检)",0.00%(0.0/58)
8,5,15398240.0,15337393.0,安徽,泗县1场4区,繁殖场,13910,张二喜,171002851,78,15337393.0|15398240.0|13910|78,0.0,0.0%(0/0),"0.0(未送检,未送检,未送检)",0.00%(0.0/58)
9,6,913.0,13903.0,南阳,内乡19场,繁殖场,13905,王秀芹,14100081,1,13903.0|913.0|13905|1,0.0,0.0%(0/2),"0.0(未检出,未送检,未检出)",3.42%(4.0/117)
10,7,15168092.0,15116388.0,豫东,扶沟3场,繁殖场,13905,贾文静,16040207,4,15116388.0|15168092.0|13905|4,0.0,0.0%(0/0),"0.0(未送检,未送检,未送检)",0.00%(0.0/150)
11,8,15418321.0,15167432.0,南阳,方城5场繁殖场,繁殖场,13909,秦松卫,200917947,6,15167432.0|15418321.0|13909|6,0.0,0.0%(0/1),"0.0(未送检,未送检,未检出)",0.00%(0.0/5)
12,8,15418321.0,15167432.0,南阳,方城5场繁殖场,繁殖场,13909,秦松卫,200917947,7,15167432.0|15418321.0|13909|7,0.0,0.0%(0/0),"0.0(未送检,未送检,未送检)",0.00%(0.0/5)
13,8,15418321.0,15167432.0,南阳,方城5场繁殖场,繁殖场,13909,秦松卫,200917947,8,15167432.0|15418321.0|13909|8,0.0,0.0%(0/1),"0.0(未送检,未送检,未检出)",0.00%(0.0/5)
14,9,15417164.0,15210206.0,内蒙古,翁牛特8场繁殖场,繁殖场,13905,范仙凤,200409484,3,15210206.0|15417164.0|13905|3,0.0,0.0%(0/0),"0.0(未送检,未送检,未送检)",0.00%(0.0/24)
15,10,15314534.0,15314533.0,吉林,农安1场2区,繁殖场,13910,沈丽娟,171103373,17,15314533.0|15314534.0|13910|17,0.0,0.0%(0/2),"0.0(未检出,未检出,未送检)",0.00%(0.0/44)
16,10,15314534.0,15314533.0,吉林,农安1场2区,繁殖场,13910,沈丽娟,171103373,,15314533.0|15314534.0|13910|,0.0,0.0%(0/0),"0.0(未送检,未送检,未送检)",0.00%(0.0/44)
17,11,15439320.0,15417319.0,江苏,阜宁1场繁殖场1区,繁殖场,13910,丁玉琴,201222569,4,15417319.0|15439320.0|13910|4,0.0,0.0%(0/0),"0.0(未送检,未送检,未送检)",0.00%(0.0/17)
18,12,15318091.0,15318088.0,湖北,老河口5场生长场2区,生长场,13907,刘许锋,170302124,33,15318088.0|15318091.0|13907|33,1.0,33.33%(1/3),"2173.33(未检出,未检出,6520.0)",9.09%(2.0/22)
19,12,15318091.0,15318088.0,湖北,老河口5场生长场2区,生长场,13907,刘许锋,170302124,34,15318088.0|15318091.0|13907|34,2.0,33.33%(1/3),"1522.0(未检出,未检出,4566.0)",9.09%(2.0/22)
20,12,15318091.0,15318088.0,湖北,老河口5场生长场2区,生长场,13907,刘许锋,170302124,,15318088.0|15318091.0|13907|,0.0,0.0%(0/0),"0.0(未送检,未送检,未送检)",9.09%(2.0/22)
21,13,33586.0,13904.0,南阳,卧龙1场生长场4区,生长场,13907,岳石红,None,13,13904.0|33586.0|13907|13,1.0,33.33%(1/3),"1972.33(未检出,未检出,5917.0)",NaN
22,14,15315546.0,15173773.0,豫东,商水3场1区,生长场,13907,李海旺,190806803,72,15173773.0|15315546.0|13907|72,3.0,100.0%(1/1),"1958.0(未送检,1958.0,未送检)",40.00%(2.0/5)
23,14,15315546.0,15173773.0,豫东,商水3场1区,生长场,13907,李海旺,190806803,73,15173773.0|15315546.0|13907|73,5.0,100.0%(2/2),"1015.5(未送检,1105.0,926.0)",40.00%(2.0/5)

In [177]:
#database.to_csv('asf_allfield2.csv', index = False)